{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/one.css'%}">
</head>
<body>
    <center>
    <h1>specific static</h1>
    <img src="{% static 'images/vk.jfif' %}" width="500px" height="600px">
    <img src="{% static 'images/vki.jfif' %}" width="500px" height="600px"> 
    <img src="{% static 'images/vki1.jfif' %}" width="400px" height="600px">
</center>
</body>
</html>